
.dropdown {
    /*width: 300px;*/
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,.1);
    background-color: white;
    z-index: 1;
}

.dropdown_header {
    padding: 15px;
    cursor: pointer;
    display: flex;
    text-decoration: underline;
    align-items: center;
}
.label{
    margin-left: 15px;
}
.dropdown_body {
    padding: 5px;
    border-top: 1px solid #E5E8EC;
    display: none;
    background-color: white;
    /*width: 240px;*/
}
.dropdown_body_left {
    position: relative;
    right: 100%;
    top: -50px;
    padding: 5px;
    border-top: 1px solid #E5E8EC;
    display: none;
    background-color: white;
}
.dropdown_body.open, .dropdown_body_left.open {
    display: block;
}

.dropdown_item {
    padding: 10px;
}

.dropdown_item:hover {
    cursor: pointer;
}

.dropdown_item_dot {
    opacity: 0;
    color: #91A5BE;
    transition: all .2s ease-in-out;
}

.dropdown_item_dot.selected {
    opacity: 1;
}

.icon {
    font-size: 13px;
    color: #91A5BE;
    transform: rotate(0deg);
    transition: all .2s ease-in-out;
}

.icon.open {
    transform: rotate(90deg);
}