.modal_content {
    width: 400px;
    top: 405px;
    left: 40%;
    position: absolute;
    background-color: black;
    color: #FFFFFF;
    border-radius: 15px;
    padding: 40px;
}

.header_text{
    font-family: Comfortaa;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;

}
.input {
    width: 100%;
    height: 40px;
    top: 515px;
    left: 560px;
    border-radius: 100px;
    justify-content: center;
    color: black;
}
.input::placeholder {
    font-weight: bold;
    opacity: 0.5;
    color: black;
    margin-left: 20px;
}
.button_section{
    display: flex;
    flex-direction: row;
}
.button_section_type{
    display: flex;
    flex-direction: column;
    text-align: start;
}

.button{
    margin-top: 30px;
    background-color: black;
    border: none;
    width: 50%;
    text-decoration: underline;
    vertical-align: middle;
    justify-content: center;
    display: flex;
    text-align: center;
    align-content: center;
    line-height: 1.5;
    color: #FFF;
    font-family: Comfortaa;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.button_section_type .button{
    text-align: start;
    justify-content: start;
    align-content: start;
    cursor: pointer;
}