
@import url('https://fonts.cdnfonts.com/css/akira-expanded');

body {
    font-family: "Comfortaa";
    background: url('/images/noise.png');
    background-size:cover ;
    /*overflow: hidden;*/
}
input::-webkit-input-placeholder {
    color: red;
    margin-right: 20px;
    margin-left: 20px;


}
/*firefox 19+ versions*/
input::-moz-placeholder {
    color: red;
    margin-right: 20px;
    margin-left: 20px;

}
/*IE  versions*/
input::placeholder {
    color: #ab34c5;
    margin-right: 20px;
    margin-left: 20px;
}
/*Latest modern browsers */

input::placeholder {
    color: red;
    margin-right: 20px;
    margin-left: 20px;

}
.my-input::placeholder {
    font-weight: bold;
    color: #000000;
    margin-right: 20px;
    margin-left: 20px;
    padding-left:40px;
    font-family: "Comfortaa";
    opacity: 0.25;
}
