.content{
    display: flex;
    flex-direction: column;
    padding: 25px;
}
.buttonSection{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 60px;
    margin-bottom: 25px;
    z-index: 1;
}
.buttonSection div{
    margin-left: 6px;

}
.body{
    display: flex;

    border-radius: 5px;
    background: #F5F5F5;
    flex-shrink: 0;
}
.icon_Body{
    /*position: relative;*/
    /*height: 50px;*/
    /*width: 50px;*/
    /*!*background-color: black;*!*/
    /*left: 90%;*/
    /*top: 20px;*/

    position: absolute;
    height: 50px;
    width: 50px;
     background-color: black;
    left: 70rem;
    top: 20rem;
}
.button_body{
    border-radius: 25px;
}